expose:
  type: clusterIP
  tls:
    enabled: false
  clusterIP:
    name: harbor
    ports:
      httpPort: 80

externalURL: https://harbor.trongduong.space

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      storageClass: "gp3"
      size: 100Gi
    jobservice:
      jobLog:
        storageClass: "gp3"
        size: 10Gi

database:
  type: external
  external:
    host: "dsq-rds-db.cdo6e2emyxdq.ap-northeast-2.rds.amazonaws.com"
    port: "5432"
    username: "postgres"
    coreDatabase: "mainpostgresdb"
    existingSecret: "rds-db-password"
    sslmode: "require"
  # Gộp podLabels vào đây (Nếu dùng internal thì nó có tác dụng, external thì có thể bỏ qua nhưng để đây không lỗi)
  podLabels: { purpose: system }

redis:
  type: internal
  internal:
    image:
      repository: docker.io/goharbor/redis-photon
      tag: v2.10.0
    # Đưa nodeSelector vào bên trong cấu hình internal redis cho đúng chuẩn
    nodeSelector: { purpose: system }
  podLabels: { purpose: system }

portal: { nodeSelector: { purpose: system } }
core: { nodeSelector: { purpose: system } }
jobservice: { nodeSelector: { purpose: system } }
registry: { nodeSelector: { purpose: system } }
exporter: { nodeSelector: { purpose: system } }
trivy: { nodeSelector: { purpose: system } }
nginx: { nodeSelector: { purpose: system } }

postgresql:
  enabled: false