expose:
  type: clusterIP
  clusterIP:
    name: harbor-server
    ports:
      http: 80

externalURL: https://harbor.trongduong.space

persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      storageClass: "gp3" # Khớp với EBS CSI
      size: 100Gi
    jobservice:
      storageClass: "gp3"
      size: 10Gi

database:
  type: external
  external:
    host: "dsq-rds-db.cdo6e2emyxdq.ap-northeast-2.rds.amazonaws.com"
    port: 5432
    username: "postgres"
    coreDatabase: "harbor"
    existingSecret: "rds-db-password" # Secret tạo bởi ExternalSecret trong namespace infra
    secretKey: "password"

# Tắt các thành phần nội bộ để dùng RDS/EBS
postgresql: { enabled: false }
# SỬA LẠI ĐOẠN NÀY
redis:
  type: internal  # Sử dụng redis đi kèm trong cụm
  # Không đặt internal: true ở đây
portal: { nodeSelector: { purpose: system } }
core: { nodeSelector: { purpose: system } }
jobservice: { nodeSelector: { purpose: system } }
registry: { nodeSelector: { purpose: system } }