settings:
  clusterName: main-cluster
  # interruptionQueue: main-cluster

serviceAccount:
  create: true
  name: karpenter


controller:
  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: purpose
                operator: In
                values:
                  - system
