namespace: kong

postgresql:
  enabled: false
# image:
#   repository: kong
#   tag: "3.9-ubuntu" 

# Cấu hình Ingress Controller
ingressController:
  enabled: true
  installCRDs: true

# Cấu hình Proxy (Data Plane)
proxy:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
    servicePort: 8000
  tls:
    enabled: false 

# Cấu hình Admin API
admin:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
    servicePort: 8001
    containerPort: 8001
  ingress:
    enabled: false

# Cấu hình Giao diện quản lý
manager:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
    servicePort: 8002
    containerPort: 8002
  tls:
    enabled: false
  ingress:
    enabled: false

# Cấu hình để chạy Migration khởi tạo DB
# deployment:
#   userDefinedVolumes:
#     - name: rds-ca-volume
#       configMap:
#         name: rds-ca-cert
#   userDefinedVolumeMounts:
#     - name: rds-ca-volume
#       mountPath: /etc/ssl/certs/rds-ca.pem
#       subPath: rds-ca.pem

# migrations:
#   userDefinedVolumes:
#     - name: rds-ca-volume
#       configMap:
#         name: rds-ca-cert
#   userDefinedVolumeMounts:
#     - name: rds-ca-volume
#       mountPath: /etc/ssl/certs/rds-ca.pem
#       subPath: rds-ca.pem


# Biến môi trường kết nối RDS
env:
  role: traditional
  database: "postgres"
  pg_host: "dsq-rds-db.czgk602wqbt4.ap-northeast-2.rds.amazonaws.com"
  pg_user: "postgres"
  pg_database: "kong"
  pg_password:
    valueFrom:
      secretKeyRef:
        name: "rds-kong-secret"
        key: "password"
  
  # Bật SSL nhưng tắt verify để tránh lỗi SNI/Hostname mismatch
  pg_ssl: "off"
  pg_ssl_verify: "off" 
  
  # Chỉ định CA để thư viện Lua khởi tạo Context thành công
  # lua_ssl_trusted_certificate: /etc/ssl/certs/rds-ca.pem
  
  # Bỏ pg_ssl_version để Kong tự thương lượng với Postgres 17
  
  admin_gui_url: http://kong-manager.trongduong.space
  admin_gui_api_url: http://kong-admin-api.trongduong.space
  admin_api_cors_allowed_origins: "http://kong-manager.trongduong.space"