namespace: kong

postgresql:
  enabled: false

# Cấu hình Ingress Controller
ingressController:
  enabled: true
  installCRDs: true

# Cấu hình Proxy (Data Plane)
proxy:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
    servicePort: 8000
  tls:
    enabled: false 

# Cấu hình Admin API
admin:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
    servicePort: 8001
    containerPort: 8001
  ingress:
    enabled: false

# Cấu hình Giao diện quản lý
manager:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
    servicePort: 8002
    containerPort: 8002
  tls:
    enabled: false
  ingress:
    enabled: false

# Cấu hình để chạy Migration khởi tạo DB
migrations:
  install: true
  preUpgrade: true
  # Mount chứng chỉ vào Job chạy migration
  userDefinedVolumes:
    - name: rds-ca-volume
      configMap:
        name: rds-ca-cert
  userDefinedVolumeMounts:
    - name: rds-ca-volume
      mountPath: /etc/ssl/certs/rds-ca.pem
      subPath: rds-ca.pem

# Mount chứng chỉ vào Pod Kong chính
deployment:
  userDefinedVolumes:
    - name: rds-ca-volume
      configMap:
        name: rds-ca-cert
  userDefinedVolumeMounts:
    - name: rds-ca-volume
      mountPath: /etc/ssl/certs/rds-ca.pem
      subPath: rds-ca.pem

# Biến môi trường kết nối RDS
env:
  role: traditional
  database: "postgres"
  pg_host: "dsq-rds-db.czgk602wqbt4.ap-northeast-2.rds.amazonaws.com"
  pg_user: "postgres"
  pg_database: "kong"
  pg_password:
    valueFrom:
      secretKeyRef:
        name: "rds-kong-secret"
        key: "password"
  
  # Cấu hình SSL chuẩn để fix lỗi "nil value" và "no encryption"
  pg_ssl: "on"
  pg_ssl_verify: "on"
  pg_ssl_version: "tlsv1_2"
  lua_ssl_trusted_certificate: /etc/ssl/certs/rds-ca.pem

  admin_gui_url: http://kong-manager.trongduong.space
  admin_gui_api_url: http://kong-admin-api.trongduong.space
  admin_api_cors_allowed_origins: "http://kong-manager.trongduong.space"
  router_flavor: "traditional"