env:
  database: "postgres"
  pg_host: "dsq-rds-db.cdo6e2emyxdq.ap-northeast-2.rds.amazonaws.com"
  pg_user: "postgres"
  pg_database: "kong"
  
  # Lấy mật khẩu từ secret thực tế bạn đang có (rds-kong-secret)
  pg_password:
    valueFrom:
      secretKeyRef:
        name: "rds-kong-secret"
        key: "password"

  # 2 dòng này dù docs không ghi nhưng là "chìa khóa" để giải quyết lỗi "no encryption"
  pg_ssl: "on"
  pg_ssl_verify: "off"

  # Các cấu hình mặc định khác
  router_flavor: "traditional"
  nginx_worker_processes: "2"
  proxy_access_log: /dev/stdout
  proxy_error_log: /dev/stderr

nodeSelector:
  purpose: system

deployment:
  kong:
    enabled: true

ingressController:
  enabled: true
  nodeSelector:
    purpose: system

postgresql:
  enabled: false