deployment:
  nodeSelector:
    purpose: system

env:
  database: postgres
  pg_host: "dsq-rds-db.cdo6e2emyxdq.ap-northeast-2.rds.amazonaws.com"
  pg_user: postgres
  pg_database: kong
  pg_password:
    valueFrom:
      secretKeyRef:
        name: rds-kong-secret # Secret trong namespace kong
        key: password

admin:
  enabled: true
  http: { enabled: true }

proxy:
  type: ClusterIP

postgresql: { enabled: false }