env:
  database: "postgres"
  pg_host: "dsq-rds-db.cdo6e2emyxdq.ap-northeast-2.rds.amazonaws.com"
  pg_user: "postgres"
  pg_database: "kong"
  pg_password:
    valueFrom:
      secretKeyRef:
        name: "rds-db-password"
        key: "password"
  pg_ssl: "on"
  pg_ssl_verify: "off"

deployment:
  kong:
    enabled: true

ingressController:
  enabled: true
  nodeSelector:
    purpose: system

nodeSelector:
  purpose: system

postgresql:
  enabled: false