clusterName: main-cluster
serviceAccount:
  create: true
  name: aws-load-balancer-controller
region: ap-northeast-2
vpcId: vpc-09b668c6433dec510
clusterSecretsPermissions: 
  allowAllSecrets: true
priorityClassName: critical-workload
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms: 
        - matchExpressions:
            - key: purpose
              operator: In
              values:
                - system