clusterName: main-cluster
serviceAccount:
  create: true
  name: aws-load-balancer-controller
region: ap-northeast-2
vpcId: vpc-095609cbfb64f38e9
clusterSecretsPermissions: 
  allowAllSecrets: true
# priorityClassName: critical-workload
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms: 
        - matchExpressions:
            - key: purpose
              operator: In
              values:
                - system